.idea
.next
examples
node_modules
customEffect
react-frame-contextmenu
pages
public
styles
tsconfigs
.eslintrc.json
.gitignore
.npmignore
.prettierignore
.prettierrc
next.config.js
next-env.d.ts
package-lock.json
tsconfig.build.json
tsconfig.json
