/* This style designed like OSX */

@axf-contextmenu-bg-color: #f3f3f3;
@axf-contextmenu-border-width: 0.5px;
@axf-contextmenu-border-style: solid;
@axf-contextmenu-border-color: rgba(0, 0, 0, 0.2);
@axf-contextmenu-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
@axf-contextmenu-border-radius: 6px;
@axf-contextmenu-padding-size: 4px;
@axf-contextmenu-min-width: 130px;

/* contenxtmenu-item */
@axf-contextmenu-item-font-size: 14px;
@axf-contextmenu-item-font-color: #434343;
@axf-contextmenu-item-font-weight: 400;

@axf-contextmenu-item-padding: 3px 4px;
@axf-contextmenu-item-line-height: 1.5em;
@axf-contextmenu-item-checkbox-width: 1.5em;

/* menubar */
@axf-menubar-item-font-color: #434343;
@axf-menubar-item-font-weight: 400;
@axf-menubar-item-padding: 0 10px;

/* item on hover */
@axf-menu-item-hover-bg-color: #0057d9;
@axf-menu-item-hover-font-color: #fff;

@axf-menu-separator-height: 2px;
@axf-menu-separator-color: #e5e5e5;
@axf-menu-separator-margin: 5px 0;
